@import "modules/generals.scss";

body {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.title {
    color: #131515;
    font-size: 44px;
}



.career {
    color: #004FFF
}

.career__paragraph {
    margin: 10px
}

.career__achievements {
    color: #004FFF
}

.career__achievements--paragraph {
    padding: 14px;
    border: 3px solid yellow;
    color: #131515
}

.career__records {
    color: #004FFF
}

.career__records--paragraph {
    color: #131515
}

.career__stats {
    color: #004FFF
}

.career__stats--paragraph {
    color: #131515
}

.footer {}

.site__header {}

.navigation__item {
    text-decoration: none;
    padding: 0 16px;
}

.navigation_link:hover {
color: violet;
}

.navigation_link:visited {
   color: tomato ;
    }

.navigation_link:focus {
  border: 2px solid yellow

}

    .navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

@media print {
    body {
        background: yellow;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    
}

@media (max-width: 640px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}