body {
    background-color: #ECE4B7;
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}
.title {
    color: #131515;
    font-size: 44px;
}
.generals__header {
    color: #004FFF;
}
.generals {
    color: rgb(0, 0, 0);
    
}
.generals__header--paragraph {
    margin: 10px
}
.career {
    color: #004FFF
}
.career__paragraph {
    margin: 10px
}
.career__achievements {
    color: #004FFF
}
.career__achievements--paragraph {
    padding: 14px;
    border: 3px solid yellow;
    color: #131515
}
.career__records {
    color: #004FFF

}
.career__records--paragraph {
    color: #131515

}
.career__stats {
    color: #004FFF

}
.career__stats--paragraph {
    color: #131515
}
.footer {

}